move-up,move-down,move-left,move-right,<=,1
proposed-cellda-loc_bit_1[$x],cellda-alive,~cellda-loc_bit_1[$x],>=,1
~proposed-cellda-loc_bit_1[$x],cellda-alive,cellda-loc_bit_1[$x],>=,1
proposed-cellda-loc_bit_0[$x],cellda-alive,~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$x],cellda-alive,cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$y],cellda-alive,~cellda-loc_bit_1[$y],>=,1
~proposed-cellda-loc_bit_1[$y],cellda-alive,cellda-loc_bit_1[$y],>=,1
proposed-cellda-loc_bit_0[$y],cellda-alive,~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$y],cellda-alive,cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_1[$x],move-left,move-right,~cellda-loc_bit_1[$x],>=,1
~proposed-cellda-loc_bit_1[$x],move-left,move-right,cellda-loc_bit_1[$x],>=,1
proposed-cellda-loc_bit_0[$x],move-left,move-right,~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$x],move-left,move-right,cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$y],move-up,move-down,~cellda-loc_bit_1[$y],>=,1
~proposed-cellda-loc_bit_1[$y],move-up,move-down,cellda-loc_bit_1[$y],>=,1
proposed-cellda-loc_bit_0[$y],move-up,move-down,~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$y],move-up,move-down,cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_0[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_0[$x],~move-right,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_1[$x],~move-right,cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$x],~move-right,cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$x],~move-right,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_0[$x],~move-right,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$x],~move-right,~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_0[$x],~move-right,~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_1[$x],~move-left,cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$x],~move-left,cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_1[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_0[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_0[$x],~move-left,~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_1[$x],~move-left,~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$x],~move-left,~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_1[$x],~move-left,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$x],~move-left,cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_1[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_1[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_0[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_1[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_0[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_1[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_0[$y],~move-up,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$y],~move-up,cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$y],~move-up,cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_1[$y],~move-up,~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_0[$y],~move-up,~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_1[$y],~move-up,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_0[$y],~move-up,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$y],~move-down,cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$y],~move-down,cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_1[$y],~move-down,~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_0[$y],~move-down,~cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
proposed-cellda-loc_bit_1[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_0[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],~cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],~cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
proposed-cellda-loc_bit_1[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_0[$y],~move-down,~cellda-loc_bit_1[$y],~cellda-loc_bit_0[$y],cellda-loc_bit_1[$x],cellda-loc_bit_0[$x],>=,1
~proposed-cellda-loc_bit_1[$y],~move-down,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
~proposed-cellda-loc_bit_0[$y],~move-down,cellda-loc_bit_1[$y],cellda-loc_bit_0[$y],>=,1
has-key_if,proposed-cellda-loc_bit_1[$x],~proposed-cellda-loc_bit_0[$x],~proposed-cellda-loc_bit_1[$y],~proposed-cellda-loc_bit_0[$y],>=,1
~has-key_if,~proposed-cellda-loc_bit_1[$x],>=,1
~has-key_if,proposed-cellda-loc_bit_0[$x],>=,1
~has-key_if,proposed-cellda-loc_bit_1[$y],>=,1
~has-key_if,proposed-cellda-loc_bit_0[$y],>=,1
cellda-alive_if_1,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_1,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_1,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_1,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_1,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_1,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_1,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_1,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_1,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_2,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_2,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_2,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_2,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_2,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_2,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_2,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_2,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_2,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_3,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_3,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_3,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_3,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_3,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_3,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_3,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_3,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_3,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_4,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_4,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_4,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_4,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_4,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_4,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_4,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_4,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_4,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_5,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_5,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_5,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_5,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_5,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_5,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_5,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_5,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_5,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_6,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_6,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_6,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_6,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_6,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_6,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_6,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_6,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_6,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_7,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_7,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_7,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_7,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_7,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_7,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_7,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_7,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_7,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_8,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],proposed-cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_8,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_8,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_8,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_8,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_8,~proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_8,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_8,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_8,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_9,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_9,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_9,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_9,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_9,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_9,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_9,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_9,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_9,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_10,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_10,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_10,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_10,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_10,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_10,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_10,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_10,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_10,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_11,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_11,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_11,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_11,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_11,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_11,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_11,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_11,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_11,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_12,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],proposed-cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_12,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_12,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_12,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_12,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_12,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_12,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_12,~proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_12,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_13,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_13,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_13,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_13,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_13,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_13,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_13,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_13,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_13,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_14,proposed-cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_14,~proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_14,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_14,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_14,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_14,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_14,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_14,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_14,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_15,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],proposed-cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_15,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_15,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_15,~proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_15,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_15,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_15,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_15,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_15,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_16,~proposed-cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~proposed-cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~proposed-cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~proposed-cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_16,proposed-cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_16,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_16,proposed-cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_16,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_16,proposed-cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_16,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_16,proposed-cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_16,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_17,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_17,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_17,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_17,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_17,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_17,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_17,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_17,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_17,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_18,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_18,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_18,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_18,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_18,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_18,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_18,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_18,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_18,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_19,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_19,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_19,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_19,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_19,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_19,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_19,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_19,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_19,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_20,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_20,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_20,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_20,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_20,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_20,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_20,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_20,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_20,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_21,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_21,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_21,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_21,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_21,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_21,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_21,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_21,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_21,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_22,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_22,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_22,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_22,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_22,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_22,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_22,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_22,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_22,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_23,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_23,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_23,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_23,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_23,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_23,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_23,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_23,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_23,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_24,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],cellda-loc_bit_1[$y],enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_24,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_24,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_24,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_24,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_24,~cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_24,~enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_24,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_24,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_25,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_25,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_25,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_25,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_25,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_25,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_25,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_25,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_25,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_26,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_26,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_26,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_26,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_26,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_26,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_26,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_26,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_26,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_27,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_27,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_27,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_27,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_27,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_27,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_27,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_27,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_27,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_28,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],cellda-loc_bit_0[$y],enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_28,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_28,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_28,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_28,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_28,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_28,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_28,~cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_28,~enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_29,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_29,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_29,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_29,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_29,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_29,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_29,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_29,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_29,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_30,cellda-loc_bit_1[$x],enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_30,~cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_30,~enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_30,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_30,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_30,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_30,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_30,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_30,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_31,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],cellda-loc_bit_0[$x],enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_31,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_31,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_31,~cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_31,~enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_31,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_31,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_31,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_31,enem-loc_bit_0[$e1| $y],>=,1
cellda-alive_if_32,~cellda-loc_bit_1[$x],~enem-loc_bit_1[$e1| $x],~cellda-loc_bit_0[$x],~enem-loc_bit_0[$e1| $x],~cellda-loc_bit_1[$y],~enem-loc_bit_1[$e1| $y],~cellda-loc_bit_0[$y],~enem-loc_bit_0[$e1| $y],>=,1
~cellda-alive_if_32,cellda-loc_bit_1[$x],>=,1
~cellda-alive_if_32,enem-loc_bit_1[$e1| $x],>=,1
~cellda-alive_if_32,cellda-loc_bit_0[$x],>=,1
~cellda-alive_if_32,enem-loc_bit_0[$e1| $x],>=,1
~cellda-alive_if_32,cellda-loc_bit_1[$y],>=,1
~cellda-alive_if_32,enem-loc_bit_1[$e1| $y],>=,1
~cellda-alive_if_32,cellda-loc_bit_0[$y],>=,1
~cellda-alive_if_32,enem-loc_bit_0[$e1| $y],>=,1