robot-at[$x21| $y12],robot-at[$x21| $y15],robot-at[$x21| $y20],robot-at[$x14| $y12],robot-at[$x14| $y15],robot-at[$x14| $y20],robot-at[$x9| $y12],robot-at[$x9| $y15],robot-at[$x9| $y20],==,1
move-north,move-south,move-west,move-east,<=,1